<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script src="static/js/bootstrap.min.js"></script>
</head>
<body class="d-flex h-100 text-center text-white bg-dark">
    
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    
      <main class="px-3">
        <h1>ToDo list app</h1>
        
      </main>

        <div>
            <ul>
                <li>
                    <div class="card text-white bg-secondary mb-3" >
                        <div class="card-body">
                          <h5 class="card-title">Secondary card title</h5>
                        </div>
                      </div>
                </li>
                <li>
                    <div class="card text-white bg-secondary mb-3" >
                        <div class="card-body">
                          <h5 class="card-title">Secondary card title</h5>
                        </div>
                      </div>
                </li>
                <li>
                    <div class="card text-white bg-secondary mb-3" >
                        <div class="card-body">
                          <h5 class="card-title">Secondary card title</h5>
                        </div>
                      </div>
                </li>
            </ul>
        </div>
    </div>

    
</body>
</html>